<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-4 hero">
        <img src="img/logo-ALTA-v2.png" alt="" class="overlay" />
      </div>
      <form
        class="col-md-8 col-form needs-validation"
        id="form"
        method="GET"
        novalidate
      >
        <h3>Contact Us</h3>
        <div class="form-signup">
          <label for="validationCustom03" class="form-label">Full name</label>
          <input type="text" class="form-control" id="fullname" required />
          <div class="invalid-feedback">Full name cannot be empty</div>
        </div>
        <div class="form-signup">
          <label for="validationCustom03" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" required />
          <div class="invalid-feedback">Email address cannot be empty</div>
        </div>
        <div class="form-signup">
          <label for="validationCustom03" class="form-label"
            >Phone Number</label
          >
          <input type="text" class="form-control" id="phone" required />
          <div class="invalid-feedback">Phone cannot be empty</div>
        </div>
        <div class="form-signup">
          <h5>Nationality</h5>
          <select name="nationality" id="nationality">
            <option value="">--Choose one--</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Singapore">Singapore</option>
          </select>
        </div>
        <div class="form-signup">
          <h5>Message</h5>
          <textarea
            rows="4"
            id="message"
            cols="63"
            placeholder="Your Full Name Here..."
          ></textarea
          ><br />
        </div>
        <a
          class="btn btn-1"
          href="/message"
          role="button"
          onclick="submitForm()"
          >Submit</a
        >
      </form>
    </div>
    <script>
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();

      // Store
      function submitForm() {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add("was-validated");
        } else {
          var fullname = document.getElementById("fullname").value;
          var email = document.getElementById("email").value;
          var phone = document.getElementById("phone").value;
          var nationality = document.getElementById("nationality").value;
          var message = document.getElementById("message").value;
          localStorage.setItem("fullnamevalue", fullname);
          localStorage.setItem("emailvalue", email);
          localStorage.setItem("phonevalue", phone);
          localStorage.setItem("nationalityvalue", nationality);
          localStorage.setItem("messagevalue", message);
          return false;
        }
      }
    </script>
  </body>
</html>
