<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Homepage Alterra</title>
</head>

<body background="/assets/img/bg-img.png">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="padding-left: 55px;">
                    <img src="/assets/img/logo-ALTA.png" alt="" class="d-inline-block" style="width: 100.75px; height: 50px;">
                </a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-menu nav-link" href="#" style="color:#F47522;">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-menu nav-link" href="#" style="color:#19345E;">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-menu nav-link" href="#" style="color:#19345E;">EXPERIENCE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-menu nav-link" href="./contact_us.html" style="padding-right: 55px; color: #19345E;" >CONTACT</a>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="row">
      <div class="col-sm-5">
        <img id="logo" src="/assets/img/matthew-hamilton-tNCH0sKSZbA-unsplash.jpg" style="width: 300px; height: 300px;" alt="">
      </div>
      <div class="text-highlight col-sm-7" style="margin-top: 160px;">
        <h4 class="content-text" style="font-size:25px;">Hi, my name is</h4>
        <h1 class="context-text" style="font-size: 85px;"><strong>Anne Sullivan</strong></h1>
        <h2 class="content-text" style="font-size: 35px;">I build things for the web</h2>
        <a class="btn btn-1" href="./contact_us.html" role="button">Get In Touch</a>
      </div>
    </div>
    
</body>
</html>