<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="background1"></div>
    <div class="background2"></div>
    <div class="main">
      <table>
        <tr>
          <td>Full Name</td>
          <td>:</td>
          <td>Mike Wazowski</td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td>:</td>
          <td>linolowlevel@gmail</td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>:</td>
          <td>081292090920</td>
        </tr>
        <tr>
          <td>Nationality</td>
          <td>:</td>
          <td>Indonesian</td>
        </tr>
      </table>

      <p id="desc">
        <i
          >Hi Anne, I’m Mike from Monsters, Inc. I’ve seen your previous project
          and it was really amazing. And as you know our company are planning to
          build new mobile application. I hope you can join us to develope this
          application. We look forward to hearing from you and hope you’ll join
          our project!</i
        >
      </p>
      <hr />

      <p>
        Thanks for contacting us! <br />
        We will be in touch with you shortly.
      </p>
      <button class="btn btn-warning" id="btn-home">Home</button>
    </div>
    <img src="dot.png" id="dot" alt="" />
  </body>
</html>